/* === Reset global (optionnel) === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* === Police globale === */
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  /* === Styles pour le header === */
  
  .navbar .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar .nav-links ul li {
    display: flex;
    margin: 25px 0;
    font-size: 1.4em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  
  .navbar .nav-links ul li:hover {
    display: flex;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;
    color: white;
  }
  
  .navbar .menu-hamburger {
    width: 80px;       /* ✅ taille fixe */
    height: 80px;      /* ✅ hauteur fixée */
    left: 10px;
    top: 30px;
    padding-left: 10px;
    position: absolute;
    display: block;
    z-index: -1;
  }
  @media screen and (max-width: 800px) {
    .navbar .menu-hamburger {
        width: 60px;       /* ✅ taille fixe */
        height: 60px;      /* ✅ hauteur fixée */
        top: 20px;
        left: 0.1px;
      }
}
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
   
  }
  
  .navbar a {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
  }
  
  .nav-links {
    position: absolute;
    background-color: rgba(60, 28, 5, 0.5);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
    z-index: -1;
  }
  
  .nav-links.mobile-menu {
    margin-left: 0;
  }
  