body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: #fdf6e3 url('papyrus.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #3b1f00;
  }
  
.parchemin {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff3c2;
  border: 10px solid #c19a6b;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

header h1 {
  text-align: center;
  font-size: 2rem;
  color: #d10000;
  border-bottom: 3px dashed #555;
  padding-bottom: 10px;
}

.profil {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.portrait {
  width: 200px;
  height: auto;
  border: 5px solid #0074b7;
  border-radius: 15px;
  background: #fff;
}

.infos h2 {
  font-size: 1.5rem;
  color: #005f00;
}

.infos p {
  font-size: 1.2rem;
  margin: 10px 0;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-style: italic;
}

.trophees {
  margin-top: 40px;
  background: #ffeaa7;
  padding: 1rem;
  border-radius: 15px;
  border: 3px dashed #c0392b;
}

.trophees h2 {
  color: #b22222;
  text-align: center;
}

.grille-trophees {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 10px;
}

.trophee {
  background: #f8c291;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  margin : 20px;
}

.trophee-cache {
  display: none;
}

#voirPlusBtn, #voirMoinsBtn {
  margin: 10px auto 0;
  display: block;
  background: #d35400;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

#voirPlusBtn:hover, #voirMoinsBtn:hover {
  background: #e67e22;
}